@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1552964397114') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-16pxcha:before {
  content: "\e66b";
}

.icon-shengyin:before {
  content: "\e753";
}

.icon-gokaobei-copy1:before {
  content: "\e974";
}

.icon-icon-test:before {
  content: "\e7b7";
}

.icon-baocun:before {
  content: "\e7b8";
}

.icon-fangda:before {
  content: "\e7b9";
}

.icon-quanping:before {
  content: "\e7ba";
}

.icon-shoucang:before {
  content: "\e7bb";
}

.icon-suoxiao:before {
  content: "\e7bc";
}

.icon-zhuanfa:before {
  content: "\e7bd";
}

.icon-xuanzhuan:before {
  content: "\e7be";
}

.icon-suoyoutupian:before {
  content: "\e7bf";
}

.icon-bianji:before {
  content: "\e7c0";
}

.icon-shezhi:before {
  content: "\e7c1";
}

.icon-lianxiren:before {
  content: "\e7c2";
}

.icon-xiaoxi:before {
  content: "\e7c3";
}

.icon-tupiancopy:before {
  content: "\e7c4";
}

.icon-wenjiancopy:before {
  content: "\e7c5";
}

.icon-jietu:before {
  content: "\e7c6";
}

.icon-yuehoujifen:before {
  content: "\e7c7";
}

.icon-bofang:before {
  content: "\e7c8";
}

.icon-jinyin:before {
  content: "\e7c9";
}

.icon-zanting:before {
  content: "\e7ca";
}

.icon-shanchu:before {
  content: "\e7cb";
}

.icon-baocun1:before {
  content: "\e7cd";
}

.icon-chakan:before {
  content: "\e7ce";
}

.icon-shipin:before {
  content: "\e7cf";
}

.icon-dakai:before {
  content: "\e7d0";
}

.icon-shangchuan:before {
  content: "\e7d1";
}

.icon-shanchu1:before {
  content: "\e7d2";
}

